a {
  display: inline-block;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.logo1 {
  width: 23px;
  height: 23px;
  margin-top: 2px;
  margin-left: 10px;
}

.logo2 {
  width: 21px;
  height: 21px;
  margin-top: 2px;
  margin-left: 10px;
}

.wrap {
  min-height: 100%;
}

section {
  width: 100%;
}

.navbar_section {
  position: sticky;
  top: 0;
  height: 15px;
  z-index: 100;
  max-width: 100%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 40px;
}

.navbar_title {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.navlink {
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 0, 0 0.85);
  color: rgb(255, 255, 255);
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.navlink:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.navlink:active {
  transition: all 0.15s ease-in-out;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  transform: scale(0.9);
}

.navlink_logo:hover {
  transition: all 0.15s ease-in-out;
  transform: scale(1.2);
}

.navbar_links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.sub_wrap1 {
  background: gradient (linear rgb(255, 255, 255), rgb(180, 180, 180));
  padding-top: 1px;
}

.sub_wrap1 h1 {
  color: rgb(0, 0, 0);
}

.sub_wrap2 {
  padding-top: 1px;
  background: rgb(0, 0, 0);
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
}

.sub_wrap3 {
  display: flex;
  min-height: 50vh;
  background: rgb(255, 255, 255);
  align-items: center;
  padding-top: 1px;
  justify-content: center;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}
