.wrap {
  background-color: rgb(245, 245, 245);
}

.about_title {
  font-size: 30px;
  font-weight: bold;
}

.img_txt_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.img_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 1000px;
  padding-bottom: -100px;
  transition: all 0.5s ease-in-out;
}

.img:hover {
  background-color: rgb(238, 106, 18);
  transform: scale(1.01);
  border-radius: 20px;
}

.txt_wrap {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
  /* align-items: center; */
  width: 55%;
}

.txt {
  display: flex;
  /* color: rgb(47, 101, 218); */
  color: rgb(238, 106, 18);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cv {
  margin: 25px 20px 15px;
  align-items: center;
}

.cv a {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: rgb(238, 106, 18);
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  width: 250px;
}

.cv a:hover {
  background-color: rgb(238, 106, 18);
  color: black;
}

.cv a:active {
  background-color: rgba(238, 106, 18, 0.247);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.skills_icons {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.skills_icons a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .img_txt_wrap {
    flex-direction: column;
  }

  .img_wrap {
    width: 100%;
  }

  .txt_wrap {
    width: 100%;
  }

  .skills {
    width: 100%;
  }
}

@media screen and (max-width: 691px) {
  .wrap {
    /* padding-top: 40px; */
  }
}
