.wrap {
  padding-top: 10px;
}

.about_title {
  font-size: 30px;
  font-weight: bold;
}

.img_txt_wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}

.img_wrap {
  display: flex;
  justify-content: center;
  align-items: left;
}

.img {
  height: 400px;
  object-fit: cover;
  border-radius: 1000px;
  padding-bottom: -100px;
}

.txt_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.txt {
  display: flex;
  color: rgb(47, 101, 218);
  color: rgb(238, 106, 18);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.skills_icons {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.skills_icons a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .img_txt_wrap {
    flex-direction: column;
  }

  .img_wrap {
    width: 100%;
  }

  .txt_wrap {
    width: 100%;
  }

  .skills {
    width: 100%;
  }
}

@media screen and (max-width: 691px) {
  .wrap {
    padding-top: 40px;
  }
}
