.wrap {
  /* background-image: url("https://tenor.com/es/ver/hacker-gif-20658045");
  background-size: cover; */
  margin-bottom: 2rem;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.cards {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* left: 3vw;
  right: 3vw; */
}
